body{
    background-color: #EFEDE7;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
}

.lockscreen{
    /* position: relative; */
    margin: clamp(4rem, 7vw, 4rem);
    text-align: center;
    color: #6E7378;
}

.time {
  font-size: clamp(5rem, 19vw, 8rem);
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.date {
  font-size: clamp(1.3rem, 4vw, 1.9rem);
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.name{
  position: absolute;
  bottom: clamp(4rem, 7vw, 4rem);;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.3rem, 4vw, 1.9rem);
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.file{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #6E7378;
}
